/*Make parent element a flex container*/
ul {
  display: flex;
  border: 1px solid red;
  padding: 0;
  list-style: none;
  background-color: #e8e8e9;
  justify-content: center;
}
li {
  width: 100px;
  height: 100px;
  background-color: #8cacea;
  margin: 8px;
  color: white;
}
